<div id="wondersmith-container">
    <div class="spinners">
        <span class="spinner prefix"></span>
        <span class="spinner base">{{localize 'WONDERSMITH.Placeholder'}}</span>
        <span class="spinner suffix"></span>
    </div>
    <div class="rarity">
        <span id="rarity"></span>
    </div>

    <div class="buttons">
        <button id="spinner">{{localize 'WONDERSMITH.SpinButton'}}</button>
    </div>
</div>