<div id="wdsm-container">
    <div class="wdsm-reels">
        <span class="wdsm-reel" data-wondersmith-reel="prefix"></span>
        <span class="wdsm-reel" data-wondersmith-reel="base">{{localize 'WONDERSMITH.Placeholder'}}</span>
        <span class="wdsm-reel" data-wondersmith-reel="suffix"></span>
    </div>

    <div class="wdsm-buttons">
        <button class="wdsm-button" data-wondersmith_spinner="any">{{localize 'WONDERSMITH.SpinButton'}}</button>
        <div class="wdsm-type-buttons">
            {{#each types}}
                <button class="wdsm-button" data-wondersmith_spinner="{{this}}">{{capitalize this}}</button>
            {{/each}}
        </div>
    </div>
</div>