
#wdsm-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #wdsm-container .wdsm-reels {
    padding: 0.75rem;
    font-size: large;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px;
    color: rgba(0, 0, 0, 0);
  }

  #wdsm-container .wdsm-reels .wdsm-reel {
    color: var(--color-text-dark-primary);
  }

  #wdsm-container .wdsm-rarity {
    margin-top: 20px;
  }

  #wdsm-container .wdsm-button {
    width: fit-content;
  }

  #wdsm-container .wdsm-buttons {
    margin: 1rem 0 2rem 0;
  }
  
  #wdsm-container .wdsm-button {
    margin: 0 0.2rem 0.5rem 0.2rem;
    border-radius: 5px;
    padding: 0 10px;
  }
